@import url('./crt.css');

/* Fonts */

@font-face {
  font-family: 'Departure Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Departure Mono Regular'), local('DepartureMono-Regular'),
    url('/DepartureMono-Regular.woff2') format('woff2');

}

:root {

  /* Fonts */
  --font-family: 'Departure Mono', sans-serif;
  --font-size: 16px;


  /* Catppuccin Latte */
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

html {
  background-color: var(--base);

  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text);
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.1) 0px -3px 0px inset;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--yellow);
}

.button:disabled {
  color: var(--subtext0);
}

.button {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  border-radius: 0.5em;
  background-color: var(--surface1);
  padding: 1em;
  border: none;
}

.button:active:not(:disabled) {
  box-shadow: none;
  transform: translate(0.2em, 0.2em);

}

.button:not(:active) {
  transition: all 400ms ease-in-out;
}


.box {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.1) 0px -3px 0px inset;

  border-radius: 0.5em;

  background-color: var(--surface0);

  padding: 1em;

}
